<% include ../partials/header %>
<form action="/login" method="post">
<br>
  <label>username</label>
  <input type="text" name="username">
  <label>password</label>
  <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
<% include ../partials/footer %>
